<%unless @user_wins || @user_loses || @game_draw %>
  <h3><%= session[:user_name] %>, your current bet is $<%= session[:user_bet] %>!</h3>
<% end %>

<div class="table_surface">
<h4>Dealer's cards:</h4>
  <%if @user_wins || @user_loses || @game_draw || session[:dealer_hitting]%>
    <% session[:dealer_cards].each do |card| %>
      <img src=<%= card_route(card) %>/>
    <% end %>
  <%else %>
    <% session[:dealer_cards].each_with_index do |card, i|%>
      <%if i == 0 %>
        <img src="/images/cards/cover.jpg"/>
      <%else %>
        <img src=<%= card_route(card) %>/> 
      <% end %>
    <% end %>
  <% end %>
  <%if @user_wins || @user_loses || @game_draw || session[:dealer_hitting]%>
    <h4 class="score">Score = <%= score(session[:dealer_cards])%></h4>
  <% end %>
  <%if session[:dealer_hitting] == true %>
    <form action='/dealer_hit' method='post'>
      <button class="btn btn-primary" type="submit">Hit button to draw next dealer card</button>
    </form>
  <% end %>
</div>
<div class="table_surface">
<h4><%= session[:user_name]%>'s cards:</h4>
  <% session[:user_cards].each do |card| %>
    <img src=<%= card_route(card) %>/>
  <% end %>
  <h4 class="score">Score = <%= score(session[:user_cards])%></h4>
</div>

<%unless @user_wins || @user_loses || @game_draw || session[:dealer_hitting]%>
  <div class = "button_surface">
      <p>What would you like to do, <%= session[:user_name]%>?</p>
    <form action='/hit' method='post'>
      <button class="btn btn-primary" type="submit">Hit</button>
    </form>
    <form action='/stay' method='post'>
      <button class="btn btn-warning" type="submit">Stay</button>
    </form>    
  </div>
<% end %>

<%if @user_loses %>
  <div class="alert alert-error">
    <% if @user_busts %>
      Game over! <%= session[:user_name] %> busts! <%= session[:user_name] %> bet $<%= session[:user_bet] %> on this hand and now has $<%= session[:user_money] %>.
    <% elsif @blackjack %>
      Game over! Dealer has blackjack! <%= session[:user_name] %> loses! <%=  session[:user_name] %> bet $<%= session[:user_bet] %> on this hand and now has $<%= session[:user_money] %>.
    <% else %>
      Game over! <%= session[:user_name] %> has the lower score and loses! <%= session[:user_name] %> bet $<%= session[:user_bet] %> on this hand and now has $<%= session[:user_money] %>.
    <% end %>
  </div>
<% end %>

<%if @user_wins %>
  <div class="alert alert-success">
    <% if @dealer_busts %>
      Game over! The dealer busted! <%= session[:user_name] %> wins! <%= session[:user_name] %> bet $<%= session[:user_bet] %> on this hand and now has $<%= session[:user_money] %>.
    <% elsif @blackjack %> 
      Game over! <%= session[:user_name] %> got blackjack! Congrats! <%= session[:user_name] %> wins! <%= session[:user_name] %> bet $<%= session[:user_bet] %> on this hand and now has $<%= session[:user_money] %> (blackjack paid out 3/2).
    <% else %>
      Game over! <%= session[:user_name] %> has the higher score and wins! <%= session[:user_name] %> bet $<%= session[:user_bet] %> on this hand and now has $<%= session[:user_money] %>.
    <% end %>
  </div>
<% end %>

<%if @game_draw %>
  <div class="alert alert-warning">
    <% if @blackjack %>
      Game over! You both got blackjack, amazingly! It's a draw! <%= session[:user_name] %>, you bet $<%= session[:user_bet] %> on this hand and still have $<%= session[:user_money] %>.
    <% else %>
      Game over! It's a draw! <%= session[:user_name] %>, you bet $<%= session[:user_bet] %> on this hand and still have $<%= session[:user_money] %>.
    <% end %>
  </div>
<% end %>

<%if @user_wins || @user_loses || @game_draw%>
  <div class = "button_surface">
      <p>Would you like to play again, <%= session[:user_name]%>?</p>
    <form action='/get_bet' method='get'>
      <button class="btn btn-success" type="submit">Yes</button>
    </form>
    <form action='/quit' method='post'>
      <button class="btn btn-danger" type="submit">No</button>
    </form>    
  </div>
<% end %>
  
<div class = "footer"></div>




